<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <h1> 
            <p>FileTransStation</p>
        </h1>

        <form action='/downloadFile' method='post' enctype='multipart/form-data'>
            URL:&nbsp<input type='text' name='intputURL'>
            <input type='submit' value='Download!'>
            <br>
            <p> Result:&nbsp 
                <br>
                <a href="{{resultURL}}">download</a> 
                <br>
                {{resultText}}
            </p>
        </form>
    </body>
</html>
